/* .suggest{
    color: #B03737;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.filter{
    color: #071C2C;
font-family: Montserrat !important;
font-size: 24px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: normal !important;
} */


.flightFilterBox {
    background-color: white;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
}

.flightFilterBox .filterTitle {
    background-color: white;
    border: 1px solid #999;
    border-radius: 5px;
    color: #071C2C;
    text-align: center;
    padding: 12px 0px;
    font-family: 'Montserrat';
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.innerFilter>p {
    color: #B03737;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin: 8px 0px !important;
    line-height: normal;
}