.suggest{
    color: #B03737;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.filter{
    color: #071C2C;
font-family: Montserrat !important;
font-size: 24px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: normal !important;
}

