* {
  /* margin: 0 !important;
  padding: 0 !important; */
}
.try {
  /* background-color: #21325d; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.try form {
  width: 100%;
}
#grid {
  width: 95%;
  box-sizing: border-box;
}
.heroBanner {
  width: 100%;

  background-color: #ffffff;
  /* height: 294px; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  /* gap: 20px; */
}

#hero1 {
  border: 1px solid black !important;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  /* border-color: #e73c33; */
}
#hero1 h4 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "16px";

  font-weight: "500";
}
#hero1 h1 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "24px";

  font-weight: "700";
}
#hero1 p {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "16px";

  font-weight: "400";
  position: relative;
}
#hero2 {
  /* border: 0.5px solid black; */
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#hero2 h4 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "24px";

  font-weight: "700";
}
#hero2 span {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "16px";

  font-weight: "500";
}
#hero2 h1 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "18px";

  font-weight: "400";
}
#hero2 p {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "16px";

  font-weight: "400";
}
#hero3 {
  border: 0.5px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#hero3 h1 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "18px";

  font-weight: "400";
}
#hero3 h4 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "24px";

  font-weight: "700";
}
#hero3 p {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "16px";

  font-weight: "400";
}
#hero4 {
  /* border: 0.5px solid black; */
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#hero4 h4 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "18px";

  font-weight: "400";
}
.rooms {
  display: flex;

  align-items: end;
  justify-content: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  width: 100%;
}
.rooms > div {
  display: flex;
}
.rooms p {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "16px";

  font-weight: "400";
  text-align: end;
  flex-wrap: wrap;
}
#hero5 {
  border: 1px solid black;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
#hero5 h4 {
  color: #071c2c;
  font-family: "Montserrat";
  font-size: "18px";

  font-weight: "400";
}
.hero {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 10px;
  position: relative;
  /* padding: 0;
  margin: 0; */
}
.Trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 100%;
}
.Tranding1 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.Tranding2 {
  color: #21325d;

  text-align: center;
  font-family: Montserrat;
  font-size: 18px;

  font-weight: 600;
}
.Trending3 {
  border-radius: 12px;
  background: #f8f3f3;
  height: 44px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.Trending3 > h1 {
  color: #464242;

  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#btn-ht-search {
  border-radius: 32px;
  background: #e73c33;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  color: #fffbfb;

  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;

  font-weight: 700;
  width: 118px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.loading1 {
  position: absolute;
  width: 100%;
  border: none !important;
  outline: none !important;
  left: 5px;
  top: 10px;
  padding: 2px 5px;
  /* background: #e21717; */
}
.loading11 {
  background: #e21717;
}
.loading_input_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  background: #fff;

  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25);
  gap: 5px;

  border-radius: 12px !important;
  padding: 0px 5px !important;
}
.loading_input_container_main_div{
  /* background-color: #e91717; */
  border-radius: 10px;
  z-index:  1999900;
  width: 100% !important;
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 3px 12px;
  text-align: left;
  cursor: pointer;


}
.loading_input_container_search {
  width: 100%;
  list-style: none;
  /* background-color: #2b17e2; */
  padding: 5px !important;
  margin: 0 !important;
}
.loading_input_container > input {
  border: none !important;
  outline: none !important;
}
.to_List1 {
  min-height: 50px !important;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}
.to_List1:hover {
  background-color: rgb(247, 238, 238) !important;
}
.rooms1 {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25);
  width: 457px;
  z-index: 10;
  padding: 10px;
  gap: 20px;
}
.rooms1 > div {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.rooms1 > div > h1 {
  color: #071c2c;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rooms1 > div > span {
  color: #bbb;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rooms1 > div > p {
  color: #bbb;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
select {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
option {
  color: #071c2c;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#btn-apply {
  display: flex;
  width: 103px;
  height: 44px;

  justify-content: center;
  align-items: center;

  border-radius: 32px;
  background: #e73c33;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  color: #fffbfb;

  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Value-stays {
  width: 90%;
  background-color: #ffffff;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;

  padding: 10px;
  flex-direction: column;
  gap: 20px;
}
.Value-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.value-h1 {
  color: #e73c33;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Value-left {
  width: 247px;
}
.Value-left > p {
  color: #071c2c;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Value-right {
  border-radius: 12px;
  flex: 1;
  background: #f4f0f0;
  display: flex;
  justify-content: space-between;
  height: 77px;
  padding: 0px 20px;
  align-items: center;
}
.Value-right > div > h4 {
  color: #071c2c;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Value-left p:nth-child(1) {
  color: #071c2c;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero_banner_Img {
  width: 100%;
  background-color: #ffffff;
  /* height: 385px; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  gap: 20px;
  background-color: #071c2c;
}
.hero_banner_Img-left {
  width: 30%;
  /* background-color: #e73c33; */
}
.hero_banner_Img > div > h1 {
  color: linear-gradient(273deg, #cab389 36.05%, #9b7e4a 171.37%);
}
.hero_banner_Img > div > p {
  color: #fff;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bannger-img-container {
  display: flex;
  gap: 5px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.bannger-img-container > div {
  max-width: 220px;
  width: auto;
  background-color: #f9f7f7;
  border-radius: 12px;
}
.bannger-img-container > div > h4 {
  color: #071c2c;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}
.bannger-img-container > div > p {
  color: #000;

  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
}
.bannger-img {
  max-width: 220px;
  width: auto;
  border-radius: 12px;
}
.gradient-text {
  background: linear-gradient(273deg, #cab389 36.05%, #9b7e4a 171.37%);
  -webkit-background-clip: text;
  /* background-clip: content-box; */
  color: transparent;
}
.LOREM {
  background-color: #000;
  border-radius: 12px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LOREM > h1 {
  color: #fff;

  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.OFFERS {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  gap: 20px;
  padding: 20px 0px;
}
.OFFERS1 {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.OFFERS2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #e73c33; */
}
/* .OFFERS > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

} */
.OFFERS3 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #cab389; */
}
.OFFERS4 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 1;
}
.OFFERS5 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid #000;
}
/* .OFFERS > div :nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: space-between;
} */
.OFFERS5 > div > h1 {
  color: #071c2c;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.OFFERS_Active {
  border-bottom: 2px solid #e73c33 !important;
}
.OFFERS_Active_h1 {
  color: #e73c33 !important;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.offers_inner {
  width: 75%;
  display: flex;
  /* background-color: #e73c33; */
  gap: 20px;
  display: flex;
  justify-content: space-between;
}
.offers_inner-left {
  width: 100%;
  display: flex;
  /* background-color: #582a27; */
  gap: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-content: space-between;

  background: #f8f4f4;
  padding: 5px 10px;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.offers_inner-right {
  width: 100%;
  display: flex;
  justify-content: center;
}
.offers_inner-right1 {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  background: #f8f4f4;
  width: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.offers_inner-right1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers_inner-right1 > div > button {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 2em;
}
.offer_img {
  width: 100px;
  height: 100px;
}
.offer-btn {
  border-radius: 12px;
  background: #e73c33;
  width: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.chanege {
  /* background-color: #e73c33 ; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.chanege > div {
  width: 10px;
  height: 10px;
  background-color: #071c2c;
  border-radius: 100%;
  color: #071c2c;
}
.chanege_active {
  width: 12px !important;
  height: 12px !important;
  background-color: #e73c33 !important;
  border-radius: 100%;
  color: #e73c33 !important;
}
.hero > div {
  /* height: 100px !important; */
  /* background-color: #464242;
  margin: 0 !important;
  padding: 0 !important;
  gap: 0px !important; */
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .hero > div > h4 {
    font-size: 12px;
  }
  .hero > div > h1 {
    font-size: 16px;
  }
  .hero > div > h4 {
    font-size: 12px;
  }
  .Tranding2 > h1 {
    font-size: 12px;
  }
  .hero {
    background-color: coral;
  }
  .Value-right {
    flex-direction: column;
  }
  .Value-right > div > h4 {
    font-size: 16px;
  }
  .hero_banner_Img {
    display: flex;
    flex-direction: column;
  }
  .hero_banner_Img-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #754c00;
  }
  .bannger-img-container {
    /* flex-wrap: wrap; */
    width: 100%;
    background-color: #e73c33;
  }
  .hero {
    border-radius: 12px;
    border: 1px solid black;
  }
  .rooms1 {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  /* .hero >div>h4{
    font-size: 12px;
  }
  .hero >div>h1{
    font-size: 16px;
  }
  .hero >div>h4{
    font-size: 12px;
  } */
  .hero > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aquamarine; */
    width: 100%;
    align-items: center;
  }
  .Tranding2 > h1 {
    font-size: 12px;
  }
  .Value-right {
    flex-direction: column;
  }
  .Value-right > div > h4 {
    font-size: 16px;
  }
  .hero_banner_Img {
    display: flex;
    flex-direction: column;
  }
  .hero_banner_Img-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #9b7e4a;
  }
  .bannger-img-container {
    /* flex-wrap: wrap; */
    width: 100%;
    background-color: #b88b89;
  }
  .hero {
    border-radius: 12px;
    border: 1px solid black;
  }
  .rooms1 {
    width: auto;
  }
  .grid{
    display: flex;
    gap:10px;

  }
  
  .loading1{
    display: flex;
    flex-direction: column !important;
  }
}

.hero h4,
.hero p,
.hero h1 {
  margin: 0 !important;
  padding: 0 !important;
}
