.layOutParent {
  /* display: grid !important;
  grid-template-columns: 60% 40%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.sealLayoutDiv {
  width: 100%;
  border: 1px solid lightgray;
  border-top: none;
  /* background-color: rgb(241, 241, 241); */
  background: white;
  /* height: 400px; */
  min-height: 300px;
  margin-top: -15px;
  margin-bottom: 10px;
}


.sealLayoutDiv>div:first-child {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sealLayoutDiv>div:first-child>div {
  height: 100%;
}



.seatcontainer {
  position: relative;
  align-self: center;
  /* display: flex !important; */
  flex-wrap: wrap !important;
}

.busSeatrgt .busSeat .seatcontainer {
  display: grid !important;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 3px;
}

.seatContTwo {
  display: grid !important;
  grid-template-columns: auto auto auto auto auto auto auto;
  column-gap: 14px !important;
  row-gap: 10px !important;
}


.seatcontainer>div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /* margin-left: 10px !important; */
  flex-direction: row !important;
  gap: 7px !important;
}



.sealLayoutDiv>div:first-child>div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}



.layOutParentInner {
  display: flex;
  flex-direction: column;

}


.seatNameBox {
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* max-width: 160px; */
}

.seatNameBox p {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.seatFareBox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.seatFareBox p,
.seatFareBox h2 {
  color: black;
  font-weight: 600 !important;
  font-size: 18px !important;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}



.buttonLayoutBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  /* margin: 10px 0px; */

}

.buttonLayoutBox button {
  padding: 8px 13px;
  border-radius: 4px;
  background: #E73C33;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 2px solid #E73C33;
  transition: all 0.3s;

}


.originBoxSelect select {
  max-width: 170px;

}


.outerseat,
.outerlowerseat {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.steeringBox p,
.outerlowerseat p {
  transform: rotate(-90deg);
  font-weight: 700;
}


.steeringBox {
  position: relative;
}

.steeringBox svg {
  transform: rotate(-90deg);
  top: -14px;
  right: -18px;
  position: absolute;
}


.seatOrgDes {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: flex-end;
}

.seatPriceBox {
  display: flex;
  gap: 10px;
}

.loadBusGif {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}





.mainimgBusSearch {
  background-image: url(../../../images/busBg.jpg);
  background-size: cover;
  background-repeat: no-repeat !important;
  height: 300px;
  background-position: bottom center;
}