/* sortFilterBar.css */

.sort-filter-bar {
    width: 100%;
    height: 76px;
   
    background: white;
    box-shadow: 0px 2px 8px 8px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    gap: 169px;
    display: flex;
  }
  
  .result-count {
    text-align: center;
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    word-wrap: break-word;
  }
  
  .sort-options {
    padding-left: 28px;
    padding-right: 28px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    display: flex;
  }
  
  .sort-by-label {
    text-align: center;
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    word-wrap: break-word;
  }
  
  .sort-options-list {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    display: flex;
  }
  
  .sort-option {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 3px rgba(0, 0, 0, 0) solid;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .sort-option.active {
    border-bottom: 3px #E73C33 solid;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .sort-filter-bar {
      flex-direction: column;
      padding: 16px;
    }
  }
  
  .seatlayout{
    display: flex;
    margin: auto;
    border: 2px solid red;
    width: 90%;
    gap:5%;
   
  }

  .seatlayoutleft{
   
  
    border: 2px solid rgb(43, 255, 0);
    width: 30%;
  }
  .seatlayoutright{
   
    border: 2px solid rgb(17, 0, 255);
    width: 65%;
  }

  /* styles.css */

.bus-info-containers {
    color: #071C2C;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 800;
    word-wrap: break-word;
    /* Add any other styles for the container here */
  }
  
  .titleseat {
    /* You can add specific styles for the title here */
  }
  .bus-detailsseat{
    border-radius: 12px;
border: 1px solid #071C2C;
background: #FFF;
box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15);
margin-bottom: 20px;

  }
  /* styles.css */

/* styles.css */

.bus-info-containerss {
    width: 100%;
  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
  }
  
  .info-content {
    display: flex;
    gap: 40px;
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  
  .titleLayout {
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .subtitle {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .time-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  
  .time-label {
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .time-value {
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .date-value {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .duration {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .priceseat {
    text-align: right;
    color: #071C2C;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.20;
    word-wrap: break-word;
  }
  
  /* styles.css */

.rating-info-container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.50px #071C2C solid;
    padding: 20px;
  }
  
  .rating-section {
    display: flex;
    gap: 11px;
  }
  
  .rating-item,
  .tracking-item {
    display: flex;
  }
  
  .rating-icon,
  .tracking-icon {
    padding: 5px;
    background: #071C2C;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .icon-circle {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .icon-background,
  .icon-background-gray {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }
  
  .icon-backgroundLay {
   
  }
  
  
  
  .icon-value {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .tracking-label {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .seats-info {
    color: #AAAAAA;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    word-wrap: break-word;
  }
  /* styles.css */

.policies-section-container {
    width: 100%;
   
    padding: 14px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 188px;
  }
  
  .policies-wrapper {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .policy-item {
    display: flex;
  }
  
  .policy-icon {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .icon-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #BBBBBB;
    border-radius: 50%;
  }
  
  .icon-label {
    color: #BBBBBB;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
  
  .hide-seats {
 
  
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .hide-seats-button {
    color: #E73C33;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
    padding: 10px;
  }

  .hide-seats1{
 
  
    background:#E73C33;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .hide-seats-button1{
    color: #f1e9e9;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
    padding: 13px;
  }
  

  /* styles.css */

.travel-details-containerss {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 82px;
  }
  
  .content-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .text-infolay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
  }
  
  .company-name {
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .bus-info {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .time-infolay {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
  }
  
  .departure-timebuslay,
  .arrival-time {
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .date {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .duration {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .price-info {
    text-align: right;
    color: #071C2C;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.20px;
    word-wrap: break-word;
  }
  

  /* styles.css */

.section-links-container {
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 16px;
  }
  
  .link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .link-text {
    color: #BBBBBB;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .arrow-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
  
  .arrow-icon::before {
    content: '';
    width: 10.01px;
    height: 6.01px;
    left: 5px;
    top: 6.99px;
    position: absolute;
    
  }
  /* styles.css */

.bus-details-container {
    width: 100%;
    max-width: 869px;
    height: 47px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  
  .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  
  .info-item {
    width: 60% !important;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
  }
  
  .bus-title,
  .bus-type,
  .timeseat,
  .duration {
    width: 100%;
  }
  
  .priceseat {
   
    text-align: right;
  }
  .info-item1{
    width:150px;
  }
  @media screen and (min-width: 768px) {
    .info-wrapper {
      flex-direction: row;
    }
  
    .info-item {
      width: auto;
    }
  
    .bus-title,
    .bus-type,
    .time,
    .duration {
      width: auto;
    }
  
    .price {
      text-align: right;
    }
  }
  
  .selectseat{
    border:2px solid red;
    display:flex;
    gap:2%;
   
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .selectleft{
    border:2px solid black;
   
    width: 40%;
  }

  .selectright{
    border:2px solid black;
   
    width: 58%;
    /* display: flex;
    gap:2%; */

  }
.selectrightdata{
    display: flex;
    gap:2%;
    
}
  /* styles.css */

.seatContainer {
   
    height: 829px;
    background: #D9D9D9;
    border-radius: 12px;
  }
  
  /* styles.css */

.containerseats{
    width:49%;
    height: 300px;
    padding: 8px;
    background: white;
    border-radius: 12px;
    border: 0.50px #071C2C solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
  }
  
  .pickUpPoint {
    align-self: stretch;
    color: #071C2C;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  .pickUpDetails {
    padding: 8px;
    background: #E2EDF5;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
  }
  
  .pickUpTime {
    align-self: stretch;
    height: 39px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex;
  }
  
  .detailsTop {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .timeInfo {
    color: #071C2C;
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  .marker {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .marker div {
    width: 20px;
    height: 20px;
    position: absolute;
  }
  
 
  .foregroundMarker {
    width: 16.67px;
    height: 16.67px;
    left: 1.67px;
    top: 1.67px;
    position: absolute;
    background: #071C2C;
  }
  
  .locationInfo {
    color: #071C2C;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  .locationDetails {
    width: 175px;
    color: #071C2C;
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .sectionDivider {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 0.50px #BBBBBB solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
  }
  
  .pickUpSection {
    align-self: stretch;
    height: 31px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex;
  }
  

  

  /* styles.css */

.containerdrop {
    width: 49%;
    height: 695px;
    padding: 8px;
    background: white;
    border-radius: 12px;
    border: 0.50px #071C2C solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 100%;
      height: auto;
    }
  }
  
  .section {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 0.50px #BBBBBB solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
  }
  
  .dropSection {
    width: 191px;
  }
  
  .timeLocation {
    align-self: stretch;
    height: 31px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex;
  }
  
  .timeDetails {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .timeInfo {
    color: #071C2C;
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  .marker {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .backgroundMarker,
  .foregroundMarker {
    width: 20px;
    height: 20px;
    position: absolute;
  }
  
  .backgroundMarker {
    background: #D9D9D9;
  }
  
  .foregroundMarker {
    width: 16.67px;
    height: 16.67px;
    left: 1.67px;
    top: 1.67px;
    background: #071C2C;
  }
  
  .locationName {
    color: #071C2C;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .locationDetails {
    width: 175px;
    color: #071C2C;
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  /* styles.css */

  .containerselect{
   
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto;
    width:90%;
  }
  
  @media (max-width: 768px) {
    .containerselect {
      width: 100%;
      height: auto;
      flex-direction: column;
    }
  }
  
  .column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
  }
  
  .column.right {
    text-align: right;
  }
  
  .titlefare {
    color: #071C2C;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .subtitle1{
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .amount {
    color: #E73C33;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.20px;
    word-wrap: break-word;
  }
  
  /* styles.css */

.buttonContainer {
    width:90%;
   
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #E73C33;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.30);
    border-radius: 16px;
    /* justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex; */
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
  }
  
  @media (max-width: 768px) {
    .buttonContainer{
      width: 100%;
      height: auto;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      flex-direction: column;
    }
  }
  
  .buttonText{
    color: #FFFBFB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  