*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background: #ccc;
}
.to_Search_Container{
  text-align: center;
  color: black;
  padding-left: 0;
  width: 270px;
  background: white;
  border: 1px solid gray;
  border-radius: 7px;
  z-index: 100;
  position: absolute;
}
.from_Search_Container{
  text-align: center;
  color: black;
  padding-left: 0;
  width: 250px;
  background: white;
  border: 1px solid gray;
  border-radius: 7px;
  z-index: 100;
    position: absolute;
}
.to_List_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.to_List{
  border-bottom: 1px solid gray;
  border-top: 1px solid rgb(237, 236, 236);
}
.to_List :hover{
 background-color: rgb(203, 223, 232);
}
.scroll_style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #006CF8;
	background-color: #F5F5F5;
  height: 100%;
}

.scroll_style::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
  margin-top: 5px !important;
}

.scroll_style::-webkit-scrollbar-thumb
{
	background-color: #082d5d;
}
.classButton{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.classButton li{
  list-style: none;
  background-color: orange;
  margin: 5px;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.Adult_Count{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.Adult_Count li{
  list-style: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 12px;
  
  cursor: pointer;
 
}

.fare_type{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.fare_type li{
  list-style: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 12px; 
  cursor: pointer;
  background-color: orange;
  margin: 5px;
  color: white;
  border-radius: 13px;
  font-weight: 200;
  font-size: 12px;
}
.activeFare{
  background-color: green ;
  color: white;
}
.Travel_Btn{
color: rgb(0, 0, 0) !important;
z-index: 1 !important;
}
.Travel_Btn:hover{
  border: 2px solid black !important;
}

.Down_Arrow {
  color: #006CF8;
  animation: jumpInfinite 1.5s infinite;
}

.Down_Arrow:after {
  content: " ";
  position: absolute;
  top: 5x;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 3px;
  }
  100% {
    margin-top: 0;
  }
}

.From_container{
  width: 20%;
}

.to_container{
  width: 21%;
}

.error-message{
 color:red !important;
  font-size:'10px';
  display: flex;
  font-weight: 700;
}
.background_gradient{
  background: #166B7D;
  /* background: linear-gradient(0deg, rgba(229,238,244,1) 35%, rgba(21,106,124,1) 100%); */
}

/* Universal Background gradient */
.UniComp_BG{
  background: linear-gradient(0deg, rgba(229,238,244,1) 35%, rgba(21,106,124,1) 100%); 
}